{% load static %}
         <div class="col-xl-2">
                        <div class="alert alert-dark" role ="alert" style="min-height: 875px;">
                           <div class="collapse navbar-collapse" id="navbarNav">
                              <ul class="navbar-nav ml-auto">
                                 <li class="nav-item ">
                                 </li>
                              </ul>
                           </div>
                           <div class="alert alert-none" role ="alert" style="min-height: 100px;"> </div>
                                  <div class="alert alert-secondary" role ="alert" style="min-height: 200px;">


                                    <div id="content">
                                    {% block content %}
                                    {% endblock %}
                            <div class="collapse navbar-collapse" id="navbarNav">
                                            <h3>Blogs</h3>
                                            <h3>Latest posts</h3>


                            </div>
                            </div>
                            <div class="collapse navbar-collapse" id="navbarNav">
                                            <h3>Books</h3>
                                            <h3>Latest books</h3>
                                            <h3>Most reviewed books</h3>
                            </ul>
                            </div>
                                    </div>
                           </div>
                     </div>